.zak {
    font-size: 25px;
}

.formData {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    margin-bottom: 15px;
    & > div > label > input {
        border-radius: 5px;
        background-color: #fff;
        padding: 12px 16px;
        font-size: 15px;
        border: 1px solid rgb(164, 164, 164);
        width: 324px;
    }
}

.formData--label {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.formData--post {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 15px;
    padding: 10px;
    margin-bottom: 15px;

    & > input {
        border-radius: 5px;
        background-color: #fff;
        padding: 10px 16px;
        font-size: 15px;
        border: 1px solid rgb(164, 164, 164);
        width: 700px;
    }
}

.pay {
    text-align: center;
}

.formData--buy {
    margin-left: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: -3px -2px 19px -3px rgba(0, 0, 0, 0.31) inset;
    -webkit-box-shadow: -3px -2px 19px -3px rgba(0, 0, 0, 0.31) inset;
    -moz-box-shadow: -3px -2px 19px -3px rgba(0, 0, 0, 0.31) inset;
}

.block__name {
    display: flex;
    justify-content: center;
    & > a:hover {
        color: var(--yellowMain);
    }
}

.busketDell {
    color: green;
    font-size: 25px;
    margin-top: 10px;
    position: absolute;
    right: 10px;
    &:hover {
        color: red;
    }
}
