.zak {
    font-size: 25px;
}

.formData {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    @media (min-width: 1200px) {
        width: 800px;
        align-items: normal;
    }
    & > div > label > input {
        border-radius: 5px;
        background-color: #fff;
        padding: 12px 16px;
        font-size: 15px;
        border: 1px solid rgb(164, 164, 164);
        width: 324px;
    }
}

.formData--label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 14px;
    @media (min-width: 1200px) {
        margin-top: 0;
        flex-direction: row;
    }
}

.texteria {
    min-width: 324px;
    height: 80px;
    border-radius: 5px;
    font-size: 15px;
    justify-content: center;
    border: 1px solid rgb(192, 193, 193);
    padding: 16px;
    @media (min-width: 1200px) {
        min-width: 698px;
    }
}

.busketForm {
    display: block;
    justify-content: space-between;
    padding: 0px 15px;
    margin-bottom: 24px;
    @media (min-width: 1200px) {
        display: flex;
    }
}

.formData--post {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 15px;
    padding: 10px;
    margin-bottom: 15px;

    & > input {
        border-radius: 5px;
        background-color: #fff;
        padding: 10px 16px;
        font-size: 15px;
        border: 1px solid rgb(164, 164, 164);
        width: 700px;
    }
}

.pay {
    text-align: center;
}

.formData--buy {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
    border: 1px solid #009c2c;
    margin-top: 32px;
    border-radius: 8px;
    @media (min-width: 1200px) {
        margin-top: 0;
    }
    & > h3 {
        font-weight: 500;
        padding: 16px;
        border-bottom: 1px solid #009c2c;
    }
}

.block__name {
    display: flex;
    justify-content: center;
    & > a:hover {
        color: var(--yellowMain);
    }
}

.busketDell {
    color: rgb(83, 83, 83);
    font-size: 18px;
    &:hover {
        color: red;
    }
}

.MuiAutocomplete-hasPopupIcon.css-1l413ns-MuiAutocomplete-root .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-1l413ns-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 2px;
}

.MuiAutocomplete-hasPopupIcon.css-1834aza-MuiAutocomplete-root .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-1834aza-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 2px;
}
