.backImg {
    display: none;
    @media (min-width: 1080px) {
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        height: auto;
    }
}

.section-center {
    display: block;
    width: 100%;
    height: 600px;
    top: 0;
    position: absolute;
    overflow: hidden;
    background-color: var(--greenMain);
    z-index: 2;
}

.slidePosition {
    display: flex;
    height: 600px;
}

@keyframes changeBackground {
    0% {
        background-image: url("image/c9a112bb122c5fb4f558794f604fbf1b.jpg");
    }
    50% {
        background-image: url("image/cards.jpg");
    }
    100% {
        background-image: url("image/r4g080024-large.avif");
    }
}

article {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1.1s linear;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}
article.lastSlide {
    transform: translateX(-100%);
}
article.nextSlide {
    transform: translateX(100%);
}

.imgSlider--fist {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("image/cards.jpg");
}

.imgSlider--next {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("image/c9a112bb122c5fb4f558794f604fbf1b.jpg");
}

.imgSlider--last {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("image/r4g080024-large.avif");
}

.prev,
.next {
    color: #fff;
    position: absolute;
    bottom: 250px;
    transform: translateY(-50%);
    cursor: pointer;
}
.prev:hover,
.next:hover {
    color: var(--yellowMain);
}

@media (min-width: 1080px) {
    .text {
        max-width: 45em;
    }
    .prev,
    .next {
        color: var(--greenMain);
        background-color: black;

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }
}

.title_textBlock {
    right: 500px;
    position: absolute;
    height: 0;
    top: 0;
    width: 350px;
    border-bottom: 600px solid #1076119b;
    border-left: 300px solid transparent;
}

.title_textBlock--div {
    position: relative;
}

.title_textBlock--p {
    font-size: 50px;
    line-height: 79px;
    letter-spacing: -1.2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: end;
    margin-top: 360px;
}

.bf {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgb(6 6 6 / 55%);
}
