.profile {
    display: flex;
}

.profile__list {
    display: none;
    flex-direction: column;
    background-color: #009c2c;
    padding: 0px 16px 0px 16px;
    color: #fff;
    width: 290px;
    // height: 100%;
    @media (min-width: 1200px) {
        display: flex;
    }
}

.profile__item {
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 10px;
    margin: 5px 10px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
        background-color: #101010;
    }
    & > span > svg {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        padding: 10px;
    }
}
.profile__list {
    border-right: 2px solid rgb(146, 146, 146);
    & > li {
        margin-bottom: 15px;
    }
}

.activePr {
    background-color: #101010;
}
