.hero_category {
    position: absolute;
    width: 425px;
    top: 0px;
    padding-top: 25px;
    right: 0;
    z-index: 100;
    transition: all 500ms linear;
}

.noneTransition {
    opacity: 0;
}

.borderDec {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 400px;
    border-bottom: 600px solid #1076119b;
    border-left: 300px solid transparent;
}

.category_list {
    margin-top: 100px;
    line-height: 1.5;
}

.category_item {
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    &::before {
        content: "/// ";
        color: transparent;
        background-image: url("image/arrow.png");
        background-size: 15px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &:hover {
        color: var(--yellowMain);
    }
}
