.footer {
    background-color: #101010;
    color: #fff;
}

.footer__section {
    display: grid;
    justify-items: center;
    grid-template-areas: "nextF nextF" "first last";
    gap: 24px;
    padding: 24px 16px;
    border-bottom: 1px solid gray;
    @media (min-width: 1199px) {
        display: flex;
        justify-content: center;
    }
}

.first {
    grid-area: first;
}

.nextF {
    grid-area: nextF;
}

.last {
    grid-area: last;
}

.footer__section--first > p {
    font-size: 30px;
    font-weight: 900;
}

.footer__section--first > ul {
    font-size: 17px;
    line-height: 1.2;
    text-decoration: dashed;
    text-align: end;
    margin-top: 20px;
}

.footer__section--second > p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    @media (min-width: 1199px) {
        font-size: 20px;
    }
}

.footer__section--second > ul {
    width: 356px;
    font-size: 17px;
    line-height: 1.2;
    text-decoration: dashed;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright > p {
    text-align: center;
    padding: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 15px;
}
