.block__info {
    display: flex;
}
.name__product {
    background-color: var(--greenMain);
    color: var(--yellowMain);
    font-size: 25px;
    padding: 15px;
    font-weight: 900;
}

.content__product {
    display: flex;
    gap: 24px;
    background-color: #fff;
    padding-top: 35px;
}

.block__info--item {
    font-size: 24px;
}

.block__info--on {
    color: #009c2c;
    font-size: 16px;
}

.block__info--price {
    padding: 5px;
    font-size: 30px;
    border: 1px solid #009c2c;
    border-radius: 8px;
}

.block__infoCenter {
    margin-left: auto;
    text-align: end;
    margin-right: 30px;
    margin-top: 20px;
    & > p {
        color: var(--greenMain);
        font-size: 20px;
        font-weight: 600;
    }
    & > span {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.block__analog {
    & > h4 {
        font-size: 20px;
        font-weight: 900;
        color: var(--greenMain);
        margin-top: 15px;
        &::after {
            content: " ";
            display: block;
            margin-top: 5px;

            width: 75px;
            height: 3px;
            background-color: var(--yellowMain);
        }
    }
}

.block__analog--info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(194, 194, 194);
    padding: 15px;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    color: var(--greenMain);
    font-weight: 800;
    & > img {
        border: 1px solid rgb(194, 194, 194);
    }
}

.price {
    background-color: rgb(208, 208, 208);
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
}

.info__btn {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 25px;
}

.info__btn--details {
    font-size: 25px;
    font-weight: 900;
    color: var(--greenMain);
    border-bottom: 3px solid gray;
}

.active__btn {
    border-bottom: 3px solid var(--yellowMain);
}

.block__img {
    & > img {
        border: 1px solid rgb(183, 183, 183);
    }
}

.block__img--allImg {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.active {
    border: 1px solid rgb(26, 122, 35);
}

::-webkit-scrollbar {
    background-color: #f0f0f0;
}

/* Змінити колір скролбарної шкали (бару) */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Змінити розмір скролбарної шкали (бару) */
::-webkit-scrollbar-thumb {
    height: 15px;
}

/* Змінити рамку скролбару */
::-webkit-scrollbar {
    border: 1px solid #ddd;
}

.formFind {
    color: var(--greenMain);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    & > h3 {
        margin-top: 15px;
        font-weight: 900;
    }
    & > label > input {
        width: 350px;
        font-size: 16px;
        padding: 8px;
        border-radius: 8px;
        background-color: rgb(231, 229, 229);
    }
}

.postBtn {
    width: 200px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

/* Стилі для контейнера */
.zoomable-container {
    overflow: hidden; /* Обрізати зображення за межами контейнера */
    position: relative; /* Потрібно для абсолютної позиції зображення */
    width: 628px; /* Змініть це на відповідний розмір вашого зображення */
    height: 400px; /* Змініть це на відповідний розмір вашого зображення */
}

/* Звичайний стиль для зображення */
.zoomable-image {
    width: 100%;
    height: 100%; /* Забезпечити, що зображення вписується в контейнер */
    transition: transform 0.3s; /* Додати плавну анімацію */
}

/* Стілі для збільшеного зображення при наведенні */
.zoomable-image:hover {
    transform: scale(1.7); /* Збільшити зображення на 20% при наведенні */
    cursor: zoom-in; /* Змінити курсор на лупу для вказання можливості збільшення */
}

.favorite > svg {
    width: 30px;
    height: 30px;
    color: var(--yellowMain);
    margin-right: 10px;
}

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}
