:root {
  --greenMain: #278032;
  --yellowMain: #eec511;
  --gray: #e5e5e5;
  --black: #191919;
  --bgGray: rgb(46, 46, 46);
}

.header {
  display: flex;
  background-color: var(--greenMain);
  align-items: center;
  padding: 15px;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logo {
  font-size: 70px;
  line-height: 80px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 0.9;
}

.logo__item {
  color: var(--yellowMain);
  font-size: 31px;
  font-weight: 700;
}

.header__contact {
  font-size: 23px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  text-align: end;
}
.header__contact--item {
  font-size: 55px;
  color: var(--yellowMain);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  display: flex;
}
.header__contact--svg {
  color: #fff;
}

.navigate {
  width: 100%;
  background-color: #191919;
  display: flex;
  color: #fff;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navigate__item:hover > .navigate__link {
  color: black;
}

.navigate__list {
  display: flex;
  flex-direction: row;
}

.navigate__link {
  display: inline-block;
  position: relative;
  padding: 23px 28px 24px 29px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
  color: #fff;
  position: relative;
}

.navigate--social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navigate--social > li > a > svg {
  height: 40px;
  width: 40px;
  fill: gray;
}
.navigate--social > li > a > svg:hover {
  fill: var(--yellowMain);
}

.background, .navigate__item:hover > .navigate__link {
  background-color: var(--yellowMain);
}

.navigate__link--subMenu {
  color: #191919;
  position: absolute;
  z-index: 5;
  width: 269px;
  display: none;
}
.navigate__link--subMenu > li > a {
  display: block;
  background: var(--yellowMain);
  color: #000000;
  padding: 25px 0 25px 20px;
}
.navigate__link--subMenu > li > a:hover {
  color: #fff;
  background-color: var(--greenMain);
}

.navigate__item:hover .navigate__link--subMenu {
  display: block;
  background: #5b3535;
}

.arrow {
  fill: var(--yellowMain);
}

.login {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  position: relative;
  padding: 25px 10px;
  cursor: pointer;
}
.login:hover {
  background-color: var(--yellowMain);
}

.formLogin, .basket {
  position: absolute;
  background-color: #fff;
  z-index: 10000;
  top: 243px;
  right: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formLogin > input, .basket > input {
  width: 327px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
  font-size: 20px;
  padding-left: 10px;
}

.formLogin__item {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--yellowMain);
}

.formLogin__link {
  font-size: 20px;
  color: #777777;
}

.formLogin__btn {
  font-size: 20px;
  padding: 8px 18px;
  background-color: var(--yellowMain);
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.formLogin__register {
  color: var(--greenMain);
  font-size: 25px;
  padding: 10px;
}

.categoty__basket {
  color: #fff;
  font-size: 30px;
  padding: 21px 15px;
}
.categoty__basket:hover {
  background-color: var(--yellowMain);
}

.basket {
  right: 0;
}

.basketList {
  display: flex;
  color: #000000;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  border: 1px solid #d5d5d5;
}

.backImg {
  display: none;
}
@media (min-width: 1080px) {
  .backImg {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    height: auto;
  }
}

.section-center {
  display: none;
}
@media (min-width: 1080px) {
  .section-center {
    display: block;
    width: 100%;
    height: 600px;
    position: absolute;
    overflow: hidden;
    background-color: var(--greenMain);
  }
}

.slidePosition {
  display: flex;
  height: 600px;
}

.slide-p {
  display: flex;
  align-items: center;
  background-size: cover;
}
.slide-p .title_hero {
  position: absolute;
  bottom: -585px;
  right: 0;
  padding: 10px;
  background-color: var(--yellowMain);
  color: #000;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

article {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1.1s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.prev,
.next {
  color: #fff;
  position: absolute;
  bottom: 250px;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev:hover,
.next:hover {
  color: var(--yellowMain);
}

.prev {
  left: 0px;
  z-index: 100000;
}

.next {
  right: 0;
  z-index: 100000;
}

@media (min-width: 1080px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    color: var(--greenMain);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}
.title_textBlock {
  right: 500px;
  position: absolute;
  height: 0;
  top: 0;
  width: 350px;
  border-bottom: 600px solid rgba(16, 118, 17, 0.6078431373);
  border-left: 300px solid transparent;
}

.title_textBlock--div {
  position: relative;
}

.title_textBlock--p {
  font-size: 50px;
  line-height: 79px;
  letter-spacing: -1.2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: end;
  margin-top: 360px;
}

.hero_category {
  position: absolute;
  width: 425px;
  top: 243px;
  padding-top: 25px;
  right: 0;
  z-index: 100;
  transition: all 500ms linear;
}

.noneTransition {
  opacity: 0;
}

.borderDec {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 400px;
  border-bottom: 600px solid rgba(16, 118, 17, 0.6078431373);
  border-left: 300px solid transparent;
}

.category_list {
  margin: 25px;
  line-height: 1.5;
}

.category_item {
  font-size: 30px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}
.category_item::before {
  content: "/// ";
  color: transparent;
  background-image: url("image/arrow.png");
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}
.category_item:hover {
  color: var(--yellowMain);
}
.category_item:hover::before {
  background-image: url("image/arrow_hover.png");
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.cards {
  background-color: #191919;
  padding: 50px 80px;
  position: relative;
  overflow: hidden;
}

.cards_list {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
}

.cards__link {
  width: 430px;
  height: 240px;
  overflow: hidden;
}
.cards__link > img {
  transition: all 250ms linear;
}

.cards_span {
  color: var(--yellowMain);
}

.cards__link img:hover {
  scale: 1.2;
}

.cards__item .cards_span {
  transition: all 200ms linear;
}

.cards__item:hover .cards_text {
  color: var(--greenMain);
}

.cards__item:hover .cards_span {
  color: var(--greenMain);
}

.cards_text {
  color: #fff;
  font-size: 40px;
  text-align: start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 15px;
}

.cards_span {
  color: #fff;
  font-weight: 400;
}
.cards_span--arrow {
  margin-left: 55px;
  color: #fff;
}

.block_bg {
  right: 0px;
  position: absolute;
  left: 0;
  top: 0px;
  width: 350px;
  border-top: 500px solid var(--yellowMain);
  border-right: 300px solid transparent;
  z-index: 1;
}

.card-catalog {
  background-color: #fff;
  width: 300px;
  padding: 10px;
}

.card-cataloge__img {
  height: 200px;
  width: 300px;
}

.sell {
  display: flex;
  justify-content: space-between;
}

.beffore__sell {
  background-color: var(--greenMain);
  color: #fff;
  border-radius: 6px;
  height: 20px;
  padding: 1px 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.beffore__select > button > svg {
  width: 30px;
  height: 30px;
  color: var(--yellowMain);
}

.card-catalog__link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-cataloge__span {
  font-weight: 900;
  font-size: 18px;
  border-bottom: 1px solid rgb(158, 156, 156);
}
.card-cataloge__span > span {
  vertical-align: super;
  font-weight: 400;
}

.card-cataloge__btn {
  display: block;
  margin-top: 10px;
  background-color: #ef9732;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 95%;
  padding: 5px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.card-cataloge__btn > svg {
  width: 30px;
  height: 15px;
}

.card-catalog {
  transition: scale 150ms linear;
}

.card-catalog:hover .card-cataloge__btn {
  color: green;
}

.card-catalog:hover {
  scale: 1.05;
}

.footer {
  background-color: var(--bgGray);
  color: #fff;
}

.footer__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  border-bottom: 1px solid gray;
}

.footer__section--first > p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.footer__section--first > ul {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 17px;
  line-height: 1.2;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  text-align: end;
  margin-top: 20px;
}

.footer__section--second > p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.footer__section--second > ul {
  width: 300px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 17px;
  line-height: 1.2;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  text-align: end;
  margin-top: 20px;
}

.copyright > p {
  text-align: center;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}

.block__info {
  display: flex;
  background-color: rgb(213, 213, 213);
}

.name__product {
  background-color: var(--greenMain);
  color: var(--yellowMain);
  font-size: 25px;
  padding: 15px;
  font-weight: 900;
}

.content__product {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #fff;
  padding: 35px 0;
}

.block__info--item {
  padding: 30px;
  font-size: 18px;
}

.block__info--on {
  color: var(--greenMain);
  font-size: 18px;
  font-weight: 900;
}
.block__info--on::before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--greenMain);
  border-radius: 100%;
  margin-right: 5px;
}

.block__info--price {
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}

.block__infoCenter {
  margin-left: auto;
  text-align: end;
  margin-right: 30px;
  margin-top: 20px;
}
.block__infoCenter > p {
  color: var(--greenMain);
  font-size: 20px;
  font-weight: 600;
}
.block__infoCenter > span {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.block__analog > h4 {
  font-size: 20px;
  font-weight: 900;
  color: var(--greenMain);
  margin-top: 15px;
}
.block__analog > h4::after {
  content: " ";
  display: block;
  margin-top: 5px;
  width: 9%;
  height: 3px;
  background-color: var(--yellowMain);
}

.block__analog--info {
  display: flex;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding: 15px;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  color: var(--greenMain);
  font-weight: 800;
}
.block__analog--info > img {
  border: 1px solid rgb(194, 194, 194);
}

.price {
  background-color: rgb(208, 208, 208);
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
}

.info__btn {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 25px;
}

.info__btn--details {
  font-size: 25px;
  font-weight: 900;
  color: var(--greenMain);
  border-bottom: 3px solid gray;
}

.active__btn {
  border-bottom: 3px solid var(--greenMain);
}

.block__img > img {
  border: 1px solid rgb(183, 183, 183);
}

.block__img--allImg {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.block__img--allImg > img {
  border: 1px solid rgb(183, 183, 183);
}

.formFind {
  color: var(--greenMain);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}
.formFind > h3 {
  margin-top: 15px;
  font-weight: 900;
}
.formFind > label > input {
  width: 350px;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(231, 229, 229);
}

.postBtn {
  width: 200px;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.modal {
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(183, 183, 183, 0.625);
  top: 0;
}

.modal__block {
  background-color: var(--greenMain);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal__block > div {
  display: flex;
  justify-content: space-around;
}
.modal__block > div > button {
  font-size: 25px;
  color: #fff;
}
.modal__block > div > button:hover {
  color: var(--yellowMain);
}

.modal__text {
  color: #fff;
  font-size: 23px;
  font-weight: 900;
  margin-left: 30px;
}
.modal__text > button {
  display: inline-block;
  margin-left: auto;
}

.modal__text--block {
  background-color: #fff;
  padding: 20px;
  display: flex;
  gap: 30px;
  border-bottom-left-radius: 10px;
}

.modal__btn {
  background-color: var(--greenMain);
  font-size: 18px;
  color: #fff;
  padding: 15px;
}
.modal__btn:hover {
  color: var(--yellowMain);
}

.send {
  color: black;
  background-color: var(--yellowMain);
}
.send:hover {
  color: var(--greenMain);
}

.cataloge {
  background-color: rgb(230, 230, 230);
  padding: 30px 180px;
}

.cataloge__title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.3;
}

.cataloge__gap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.top {
  flex-wrap: nowrap;
}

.cataloge__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top__btn--left > svg {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.top__btn--left > svg:hover {
  color: var(--greenMain);
}

.top__btn--right > svg {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.top__btn--right > svg:hover {
  color: var(--greenMain);
}

.lastPrev {
  background-color: rgb(46, 46, 46);
}

.lastPrev__title {
  color: orange;
  font-size: 60px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.lastPrev__gap {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.video_container {
  background-color: var(--greenMain);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

.con1 {
  background-color: gray;
  border: 1px solid var(--yellowMain);
  width: 600px;
  height: 300px;
}

.con2 {
  background-color: gray;
  border: 1px solid var(--yellowMain);
  width: 600px;
  height: 300px;
}

.register {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 700px;
}

.register > h2 {
  margin-bottom: 30px;
  color: var(--greenMain);
  font-size: 25px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form__register {
  display: flex;
}
.form__register > div {
  display: flex;
  flex-direction: column;
}

.docSite {
  font-size: 15px;
}

.formLogin__btn:hover {
  background-color: var(--greenMain);
}

.form__item {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.linkRegisterRules {
  text-decoration: underline;
}

.product__block {
  display: block;
  width: 280px;
  border: 1px solid rgb(221, 219, 219);
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  transition: all 250ms linear;
}
.product__block:hover {
  box-shadow: 3px 4px 38px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 38px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 38px -7px rgba(0, 0, 0, 0.75);
}
.product__block > a > img {
  margin: 25px auto;
}
.product__block--span {
  background-color: var(--greenMain);
  border-top-right-radius: 10px;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: -30px;
}
.product__block--text {
  background-color: #efefef;
  color: green;
  position: relative;
}
.product__block--text > p {
  font-size: 18px;
  padding: 15px;
}
.product__block--text > div {
  display: flex;
}
.product__block--text > div > span {
  background-color: #cdcccc;
  border-top-left-radius: 10px;
  display: block;
  margin-left: auto;
  width: 100px;
  padding: 10px;
  font-size: 20px;
  color: #000;
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 50px;
}

.product__block--btn {
  background-color: green;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 25px;
  padding-top: 5px;
  border-bottom-right-radius: 8px;
}

.block__filter {
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.block__filter > input {
  border-radius: 20px;
  border: 1px solid gray;
  padding: 10px;
  font-size: 18px;
}

.line {
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  width: 80%;
  height: 1px;
  background-color: #000;
}

a {
  text-decoration: none;
  transition: all 250ms ease;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.paginate {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.none {
  display: none;
}

.yellow {
  background-color: var(--yellowMain);
}

.inputDef, .form__register > div > input {
  width: 327px;
  height: 40px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
  font-size: 20px;
  padding-left: 10px;
}

img {
  display: block;
  max-width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  background-color: rgb(230, 230, 230);
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  text-decoration: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

img {
  display: block;
}

input {
  outline: none;
  border: none;
  background: none;
}

td {
  border: 1px solid;
}/*# sourceMappingURL=index.css.map */