@import "./var";
@import "./components/header/header";
@import "./components/categoryMainTop/navCategory";
@import "./components/hero/hero-style";
@import "./components/hero/heroCategory/heroCategory_style";
@import "./components/cards/cards_style";
@import "./components/catalogeCard/catalogeCard_style";
@import "./components/footer/footer_style";
@import "./components/buyProduct/buyProduct";
@import "./components/modalBuy/about/buyBusket";
@import "./components/settings/settingUser-style";

// Page
@import "./pages/mainCataloge/catalogPage_style";
@import "./pages/lastPrev/lastPrev_style";
@import "./pages/videoContent/videoContent";
@import "./pages/registerPages/register_style";
@import "./pages/catalogePage/catalogeProduct";
@import "./pages/busket/busket-style";
@import "./pages/buysuccess/buySuc-style";
@import "./pages/myprofile/userprofile-sytle";

a {
    text-decoration: none;
    transition: all 250ms ease;
}

body {
    font-family: "Inter", sans-serif;
}

.inputAdm {
    border: 1px solid black;
    padding: 5px;
    margin: 0 5px;
}

.paginate {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.none {
    display: none;
}

.yellow {
    background-color: var(--yellowMain);
}

.inputDef {
    width: 327px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    font-size: 20px;
    padding-left: 10px;
}
// Скидання стилів sss

img {
    display: block;
    max-width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Inter", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    text-decoration: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

textarea {
    resize: none;
}

ul {
    list-style: none;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

img {
    display: block;
}

p {
    margin: 0;
}

label {
    font-weight: 500;
}

input {
    outline: none;
    border: none;
    background: none;
}
td {
    border: 1px solid;
}
